body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1 {
    font-size: 50px;
    display: block;
}


.color-name {
    color: rgb(0, 162, 255);
}

.section-flexible {
    display: flex;
    margin-bottom: 150px;
}

.top-banner {
    background-image: url(./images/bn-top.png);
    /* background-position: center;
    background-size: cover; */
}
.half-width {
    width: 50%;
    padding: 0 5%;
}

/* .half-width p{
    padding: 40px;
} */

.half-width img {
    width: 100%;
    /* margin-left: 100px; */
}

.btn-link {
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(to left, salmon, orange);
    color: aliceblue;
    border-radius: 5px;
    font-weight: 700;
}

.btn-link:hover {
    background-image: linear-gradient(to left, rgb(147, 109, 236), rgb(241, 17, 167));
    padding: 15px 45px;
}

.dream-big {
    background-image: url(./images//bn-middle.png);
    background-position: left;
}


.my-work {
    height: 70vh;
    padding: 5%;
    margin-bottom: 150px;
    position: relative;
    background-image: url(./images/work-background.jpg);
    background-size: cover;
}

.work-heading{
    text-align: center;
    color:rgb(240, 9, 98);
}

.my-work img {
    position: absolute;
    border: 5px solid aliceblue;
}

.medicare {
    width: 40%;
    left: 80px;
    transition: 0.3s;
}

.business {
    left: 400px;
    z-index: 10;
    top: 250px;
    width: 35%;
    transition: 0.3s;
}

.coffe {
    width: 40%;
    right: 80px;
    bottom: 120px;
    transition: 0.3s;
}

.medicare:hover {
    z-index: 50;
    width: 50%;
    border: 15px solid rgb(5, 221, 167);
    border-radius: 5px;

}

.business:hover {
    z-index: 50;
    width: 50%;
    border: 15px solid rgb(4, 178, 221);
    border-radius: 5px;
}

.coffe:hover {
    z-index: 50;
   width: 50%;
   border: 15px solid rgb(95, 31, 19);
   border-radius: 5px;
}


.experience-area {
    padding: 0 0 0 5%;
    background-image: url(./images/bn-last.png);
    background-position: left;
}

.item-width-half {
    width: 50%;
    margin-right: 5%;
    padding: 20px;
    box-shadow: 10px 10px 40px rgb(87, 86, 86);
    border-radius: 5px;

}

#full-stack {
    border-left: 5px solid;
    border-image: linear-gradient(rgb(247, 4, 174), rgb(241, 237, 11));
    border-image-slice: 20% 15%;
}

#baby-developer {
    border-left: 5px solid;
    border-image: linear-gradient(rgb(240, 4, 94), rgb(11, 138, 241));
    border-image-slice: 20% 15%;
}


footer p {
    color: gray;
    text-align: center;
}